/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.htaccess
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/build/phpstan/cache
/bootstrap/cache
/public/deploy.log
deploy.php
public/deploy.php
deploy.log
public/deploy.log

# Laravel 4 specific
app/storage/

# Laravel 5 & Lumen specific
/public/storage
/public/uploads
/public/hot

.phpunit.result.cache
docker-compose.override.yml
/.idea
/.vscode
*.zip
storage/debugbar
